{% extends 'primary_server/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">Aircraft Fleet</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Aircraft ID</th>
                        <th>Model</th>
                        <th>Manufacturer</th>
                        <th>Status</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aircraft in aircraft_list %}
                    <tr>
                        <td>{{ aircraft.aircraft_id }}</td>
                        <td>{{ aircraft.model }}</td>
                        <td>{{ aircraft.manufacturer }}</td>
                        <td class="status-{{ aircraft.status|lower }}">{{ aircraft.status }}</td>
                        <td>{{ aircraft.last_updated }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %} 